.grey {
    background-color: lightgrey;
}
table {
    border-collapse: collapse;

}
th {
    text-align: left;
    border: 1px solid #ddd;
}
td {
    border: 1px solid #ddd;
}
/*tr:nth-child(even){background-color: #f2f2f2;}*/
